<div class = "card-body border p-3 mb-2">
  <h2 class = "card-title"><%= @cocktail.name %></h2>
  <p><em><strong>Ingredients : </strong></em>
  <ul>
    <% @doses.each do |dose| %>
      <li><em><%= dose.ingredient.name %> : <%= dose.description %> -----
      <%= link_to "delete this ingredient" , dose_path(dose), method: :delete %></em></li>
    <% end %>
  </ul>
  <p><%= link_to "Back to list", cocktails_path  %></p>
  <p><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail)  %></p>

</div>

